// Specific CSS for your home-page

.owl-carousel {
  display: flex !important; /* To override display:block I added !important */
  flex-direction: row;
  justify-content: center; /* To center the carousel */
}
