body {
  background-color: white;
}

.card {
  border: 1px solid yellow;
}

.card-header {
  background-color: yellow;
  border-bottom: 1px solid yellow;
}

.card-footer {
  background-color: yellow;
  border-top: 1px solid yellow;
}

.list-group-item {
  background-color: white;
  border: 1px solid yellow;
}

.btn-dark, .btn-success {
  margin-left: 10px;
}
