<div class="container mt-4 p-3">
  <div class="card card-lego-form">
    <div class="card-header text-center p-2">
      <h2>For how long do you want to book it?</h2>
    </div>
    <div class="card-body">
      <%= simple_form_for [@lego, @booking] do |f| %>
        <div class="form-group">
          <%= f.input :rent_start, label: "From", input_html: {class: "form-control"} %>
        </div>
        <div class="form-group">
          <%= f.input :rent_end, label: "Till", input_html: {class: "form-control"} %>
        </div>
        <div class="text-center d-grid gap-2">
          <%= f.submit "Add Set", class: "btn btn-add" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
